.pfp {
  text-align: center;
}

.titles{
  text-align: center;
  margin-bottom: 0%;
}

.pfp-logo {
  height: 20vmin;
  pointer-events: none;
  margin-bottom: -1%;
}

.pfp-header {
  background-color: #282c34;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.body{
  background-color: #282c34;
}

.nameTitle{
  color: white;
}

.sizeConnect{
  font-size: 0.73em;
}

.gridProjects{
  background-color: blue;
}

.indiCell{
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
}

.indiCell2{
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card{
  background-color: rgb(54, 58, 62);
  color: white;
}

